*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************************
           UTILITIES
    ************************** */
.container{
    width: 100%;
}

.row{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.column-direction{
    flex-direction: column;
}

.padding-top50{
    padding-top: 50px;
}





/* **************************
          HEADER
 ************************** */
header{
    padding: 20px;
    width: 100%;

}
 
.blue{
    background-color: rgb(75, 75, 240);
}

.logo{
    width: 60px;
}

img{
    width: 100%;
}

/* **************************
          MAIN
 ************************** */

 /* section info-download */

.card{
    width: 70%;
}












/* **************************
         PROVVISORI CLASS
 ************************** */

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}


 .height{
    height: 2000px;
 }

 .height400{
    height: 400px;
    margin-bottom: 10px;
 }

 .height800{
    height: 800px;
    margin-bottom: 10px ;
 }



