*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* **************************
           GENERAL CLASS
    ************************** */
body{
    font-family: sans-serif;
    
}


.text-colorwh{
    color: white;
}  





/* **************************
           UTILITIES
    ************************** */

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


.padding-top50{
    padding: 50px 0px;
}

.margintop20{
    margin: 20px 0px;
}

.text-align{
    text-align: center;
}

.violet{
    background-color:rgba(105, 100, 251, 0.732);
}

.white{
    background-color: white;
}


/* **************************
          HEADER
 ************************** */
header{
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.row-header{
    display: flex;
}
 
.blue{
    background-color: rgb(75, 75, 240);
}

.logo{
    width: 60px;
}

img{
    width: 100%;
}

/* **************************
          MAIN
 ************************** */
.info-download .margin-start{
    margin-top: 50px;
    
}
 .info-download .card,
 .benefits .card{
    border-radius: 20px; 
         
 }

 /* section info-download */

.card{
    width: 70%;
    margin-top: 20px;
    padding: 20px;
}

.info-download .card{
    background-color: rgba(31, 112, 150, 0.418);
   
   
}

.info-download .card:first-of-type{
     padding: 20px 20px 0px 20px;
}

.info-download button{
    background-color: rgb(75, 75, 240);
    color: white;
    padding: 5px 10px ;
    border-color: rgb(75, 75, 240);
    border-radius: 20px;
}

.info-download h2{
    color:#005eff ;   
}

.container-icon{
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-icon> .icon{
    font-size:70px ;
   
}

/* section planning */
.planning h2{
    color:#ffffff ;   
}

.planning .card:nth-of-type(2) {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}

.planning button{
    padding: 15px 20px;
    border-radius: 50% ;
    background-color:rgba(105, 100, 251, 0.732) ;
    
}

/* section testimonials */

.testimonials .card{
    border-radius: 30px;
}

.circular-landscape{
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius: 50%;
}
.circular-landscape img{
    width:auto ;
    height: 100%;
    margin-left: -50px; 
}

/* section benefits */

.benefits button{
    background-color: rgba(105, 100, 251, 0.732) ;
    padding: 10px 50px;
    border-radius: 30px;
    border: none;
    color: white;
}

.containerimg{
    width: 200px;
    height: 200px; 
}

.containerimg img{
    width: 100%;
    border-radius: 50%;
}



/* **************************
         FOOTER
 ************************** */
 footer{
    background-color: rgb(68, 68, 68);
 }
 .lorem1, .lorem2{
    width: 70%;
    text-align: center;
 }



 /* **************************
        RESPONSIVE SOLUTIONS
 **************************   */
 /* tablet  */
 @media screen and (min-width: 768px){


   .row{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
   }
    .info-download .card,
    .benefits .card{
        max-width: calc(100% / 3 - 20px);
        margin-left: 10px ;
        margin-right: 10px;
    }
    .info-download .card:first-of-type{
        max-width: calc(100% / 3 * 2 - 20px); 
    }

    .info-download .card{
        height: 325px; 
    }

    .info-download .row{
        align-items: flex-start;
    }
    .text{
        width: 50%;
    }
    .info-download img{
        max-width: 43%;
        max-height: 100% ;
    }
    .planning .row{
        width: 100%;
    }
    .planning .card:first-of-type,
    .about-us .card:first-of-type{
        max-width: 55%;
        
    }
    .planning .card:nth-child(2),
    .about-us .card:nth-child(2){
        max-width: 30%;
        align-self: self-end;
        
    }
    .testimonials .card{
        display: flex;
        
    }
    .testimonials .circular-landscape{
    width: 100px;
    height: 100px;   
    }

    .circular-landscape img{
        margin-left: -25px; 
    }

    .testimonials .text{
     width: 70%;
     text-align: left;
     margin-left: 10px;
     
    }



  

 }

 /* desktop */
 @media screen and ( min-width: 992px ) {
    .container{
        max-width: 1200px;
        margin: 0 auto;
    }
 }




